body{
    background-color: rgb(241, 255, 250);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1250px;
    margin: 0 auto;
    box-shadow: 0px 10px 10px rgb(2, 1, 1);
}

/* header */
header{
    background-color: rgb(132, 231, 119);
    width: 100%;
    border: 1px solid rgb(87, 2, 2);
    overflow: hidden;
    padding: 10px 20px 10px 20px;
   
}
.logo{
    float: left;
}
nav{
    float: right;
    padding-top: 20px;
}
nav ul li{
    display: inline-block;
    margin-right: 18px;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(14, 14, 14);
}

/* Main Content */
main{
    overflow: hidden;
    width: 100%;
}
main section{
    float: left;
    width: 70%;
    padding: 16px 20px 16px 20px;

}
main section article{
    float: right;
    padding: 20px 10px 20px 10px;
    border: 1px solid rgba(105, 2, 2, 0.555);
    margin-bottom: 15px;
}
main section article h2{
    font-size: 32px;
    color: rgb(43, 46, 240);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
} 
main section article p{
    font-size: 18px;
    padding: 10px 0 30px 0;
    text-transform: 400;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans Mono", monospace;
    font-weight: 400;
} 
main section article a{
    text-decoration: none;
    border: 1px solid rgb(43, 46, 240);
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
}
main section article a:hover{
    background-color: crimson;
    color: #fff;
    border: none;
    transition: 0.4s;
}
main aside{
    float: right;
    width: 26%;
    padding: 16px 20px 16px 20px;
}

/* footer */
footer{
    background-color: rgb(172, 247, 247);
    width: 100%;
    padding: 16px 20px 16px 20px;
}
footer p{
    text-align: center;
    font-size: 22px;
}
/* outline style */
.outline article{
    margin: 30px;
}
.outline article p{
    padding: 10px;
    background-color: rgb(43, 226, 134);
    outline: 5px solid rgb(245, 16, 16);
    outline-offset: 10px;
}
.outline article p::selection{
    color: red;
}

/* pesudo class */
.link{
    text-decoration: none;
    font-size: 24px;
}
.link:link{
    color: red;
}
.link:visited{
    color: rgb(189, 255, 8);
}
.link:hover{
    color: darkgreen;
}
.link:active{
    color: rgb(3, 34, 209);
}

input[type="radio"]:checked{
    width: 20px;
    height: 20px;
}
input[type="radio"]:default{
    width: 20px;
    height: 20px;
}
input[type="text"]:disabled{
    background-color: rgb(248, 99, 99);
}
input[type="text"]:enabled{
    background-color: rgb(3, 240, 50);
}
.one > h6:first-of-type{
    color: red;
    font-size: 30px;
}
.one :not(:nth-child(even)){
    background-color: rgb(12, 238, 69);
}
#email:invalid{
    border: 2px double red;
    outline: 0;
}
#email:valid{
    border: 2px double rgb(2, 243, 94);
    outline: 0;
}
.link-1{
    margin: 15px 7px 15px 7px;
}
.link-1 a{
    text-decoration: none;
    font-size: 13px;
    border: 1px dotted rgb(204, 248, 9);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(8, 8, 8);
    color: #fff;
}
.link-2{
    background-color: aqua;
    margin-bottom: 30px;
}
:target{
    background-color: darkorange;
}
#home,
.contact,
.range{
    margin-bottom: 20px;
}
input[type="number"]:in-range{
    border: 2px solid green;
    outline: 0;
}
input[type="number"]:out-of-range{
    border-color: red;
    outline: 0;
}
input[type="text"]:required{
    background-color: rgb(203, 247, 11);
    outline: 0;
    border: none;
}